body {
    background-color: #1a1a1a;
    color: #f2f2f2;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

header {
    background-color: #111;
    padding: 20px;
}

header button {
    background-color: #333;
    border: 2px solid #555;
    color: #f2f2f2;
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

header button:hover {
    background-color: #444;
    color: #00ff99;
}

.category {
    margin-top: 20px;
    padding: 20px;
}

.category h2 {
    color: #00ff99;
    text-shadow: 0 0 10px #00ff99, 0 0 20px #00ff99;
}

.product {
    background-color: #333;
    padding: 15px;
    margin: 20px auto;
    width: 250px;
    border-radius: 10px;
    border: 2px solid #555;
}

.product img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.product button {
    background-color: #222;
    border: 2px solid #555;
    color: #f2f2f2;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}

.product button:hover {
    background-color: #444;
    color: #00ff99;
}

#cart-items {
    margin-top: 20px;
    padding: 15px;
    background-color: #222;
    border-radius: 10px;
}

#cart-items h2 {
    color: #f2f2f2;
}

#total-price {
    color: #00ff99;
    font-size: 18px;
}
