/* Оновлений стиль у неоновому стилі */
body {
    font-family: Arial, sans-serif;
    background-color: #0d0d0d;
    margin: 0;
    padding: 0;
    color: #fff;
}

h2 {
    color: #00ffcc;
    text-shadow: 0 0 10px #00ffcc;
    text-align: center;
}

#categories {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

#categories button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #00ffcc;
    padding: 10px 20px;
    margin: 10px 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-shadow: 0 0 10px #00ffcc;
    box-shadow: 0 0 15px #00ffcc;
}

#categories button:hover {
    background-color: #00ffcc;
    color: #0d0d0d;
    box-shadow: 0 0 25px #00ffcc, 0 0 50px #00ffcc;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    background-color: #1a1a1a;
    border: 2px solid #00ffcc;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 15px #00ffcc;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: calc(50% - 40px);
    box-sizing: border-box;
}

.product img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    border: 2px solid #00ffcc;
    border-radius: 8px;
    box-shadow: 0 0 10px #00ffcc;
}

.product:hover {
    box-shadow: 0 0 25px #00ffcc;
    transform: translateY(-5px);
}

.product button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #ff00cc;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    text-shadow: 0 0 10px #ff00cc;
    box-shadow: 0 0 15px #ff00cc;
}

.product button:hover {
    background-color: #ff00cc;
    color: #0d0d0d;
    box-shadow: 0 0 25px #ff00cc, 0 0 50px #ff00cc;
    transform: translateY(-3px);
}

.cart {
    display: none;
    background-color: #1a1a1a;
    border: 2px solid #00ffcc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px #00ffcc;
    margin: 10px;
}

.cart-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.cart-item p {
    margin: 0;
}

.category { 
    display: none; 
}

.category.active { 
    display: block; 
}

.cart-button {
    position: absolute;
    top: 80px;
    right: 0;
    background-color: transparent;
    color: #fff;
    border: 2px solid #ffcc00;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-shadow: 0 0 10px #ffcc00;
    box-shadow: 0 0 15px #ffcc00;
}

.cart-button:hover {
    background-color: #ffcc00;
    color: #0d0d0d;
    box-shadow: 0 0 25px #ffcc00, 0 0 50px #ffcc00;
}

#total-price {
    color: #00ffcc;
    font-weight: bold;
    text-shadow: 0 0 10px #00ffcc;
}
